{% load i18n %}{% autoescape off %}
{% blocktrans %}Dostałeś tego maila ponieważ poprosiłeś o zresetowanie hasła użytkownika na stronie: {{ site_name }}.{% endblocktrans %}

{% trans "Udaj się pod podany adres i ustaw nowe hasło:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "Twoja nazwa użytkownika:" %} {{ user.get_username }}

{% trans "Dziękujemy za korzystanie z naszych usług!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
