{% extends "admin/base_site.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Dokumentacja' %}</a> / {% endif %}{% trans 'Zmień hasło' %} / <a href="{% url 'admin:logout' %}">{% trans 'Wyloguj się' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Panel Główny' %}</a>
&rsaquo; {% trans 'Zmień hasło' %}
</div>
{% endblock %}

{% block title %}{% trans 'Zmiana hasła udała się' %}{% endblock %}

{% block content %}

<h1>{% trans 'Zmiana hasła udała się' %}</h1>

<p>{% trans 'Twoje hasło zostało zmienione.' %}</p>

{% endblock %}
