{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Panel Główny' %}</a>
&rsaquo; {% trans 'Potwierdzenie resetowania hasła' %}
</div>
{% endblock %}

{% block title %}{% trans 'Resetowanie hasła' %}{% endblock %}

{% block content %}

{% if validlink %}

<h1>{% trans 'Podaj nowe hasło' %}</h1>

<p>{% trans "Wpisz nowe hasło dwa razy, aby mieć pewność, że jest ono poprawne." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'Nowe hasło:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Potwierdź hasło:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Zmień hasło' %}" /></p>
</form>

{% else %}

<h1>{% trans 'Reset hasła nieudany' %}</h1>

<p>{% trans "Link, którego użyłeś do resetowania hasła jest niepoprawny, możliwe, że został już użyty. Zresetuj hasło jeszcze raz." %}</p>

{% endif %}

{% endblock %}
