{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Dokumentacja' %}</a> / {% endif %} {% trans 'Zmień hasło' %} / <a href="{% url 'admin:logout' %}">{% trans 'Wyloguj się' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Panel Główny' %}</a>
&rsaquo; {% trans 'Zmiana hasła' %}
</div>
{% endblock %}

{% block title %}{% trans 'Zmiana hasła' %}{% endblock %}

{% block content %}<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count counter=form.errors.items|length %}Popraw swój błąd.{% plural %}Popraw swoje błędy.{% endblocktrans %}
    </p>
{% endif %}

<h1>{% trans 'Zmiana hasła' %}</h1>

<p>{% trans "Podaj swoje stare hasło, potem wpisz nowe dwa razy, żeby mieć pewność, że jest ono poprawne." %}</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">{% trans 'Stare hasło' %}:</label>{{ form.old_password }}
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans 'Nowe hasło' %}:</label>{{ form.new_password1 }}
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    <label for="id_new_password2" class="required">{% trans 'Potwierdź hasło' %}:</label>{{ form.new_password2 }}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="{% trans 'Zmień hasło' %}" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}
