{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Panel Główny' %}</a>
&rsaquo; {% trans 'Resetowanie hasła' %}
</div>
{% endblock %}

{% block title %}{% trans 'Resetowanie hasła ukończone' %}{% endblock %}

{% block content %}

<h1>{% trans 'Resetowanie hasła ukończone' %}</h1>

<p>{% trans "Twoje hasło zostało ustawione. Możesz się zalogować." %}</p>

<p><a href="{{ login_url }}">{% trans 'Zaloguj się' %}</a></p>

{% endblock %}
