{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Panel Główny' %}</a>
&rsaquo; {% trans 'Resetowanie hasła' %}
</div>
{% endblock %}

{% block title %}{% trans "Resetowanie hasła" %}{% endblock %}

{% block content %}

<h1>{% trans "Resetowanie hasła" %}</h1>

<p>{% trans "Zapomniałeś hasła? Podaj swój adres e-mail poniżej, a wyślemy Ci informacje dotyczące ustawiania nowego hasła." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Adres e-mail:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Resetuj hasło' %}" /></p>
</form>

{% endblock %}
